@font-face {
    font-family: 'Univers LT 55';
    src: url('../fonts/UniversLT.woff2') format('woff2'),
        url('../fonts/UniversLT.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Univers CE 45';
    src: url('../fonts/UniversCE-Bold.woff2') format('woff2'),
        url('.../fonts/UniversCE-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
