* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html, body {
	height: 100%;

}

body, #page {
	margin: 0;
	width: 100%;
	height: 100%;

	font-family: 'Univers LT 55', Helvetica, Arial, sans-serif;
	font-size: 18px;
	line-height: 22px;

	/*white-space:nowrap;*/
	-webkit-font-smoothing: subpixel-antialiased;
	-webkit-text-size-adjust: 100%;
}

p {
	margin-top: 0px;
}

img {
	width: 100%;
}

a:link,
a:visited {
    color: #ff0000;
    text-decoration: none;
}

/* a:hover {
    color: #000;
} */

a:active {
	color:#FFF;
}

header {
	position: relative;
	padding: 20px;
}

header.homepage {
	z-index: 10;
}

ul {
	list-style-type: none;
	padding-left: 20px;
	margin: 0px;
}

ul:first-child {
	padding-left: 0px;
}

.container {
  display: flex;
  flex-direction: row;
}

.column-container-container {
	width: 100%;
}

.column-container {
  max-width: 50%;
	position: relative;
	display: inline-block;
	vertical-align: top;
	/* width: 33vw; */
	white-space: initial;
	padding: 20px;
}

.meta {
  display: flex;
  flex-direction: row;

  font-size: 12px;
  line-height: 14px;
  /* font-style: italic; */
  font-family: 'Univers CE 45';
}

.meta div {
  padding-right: 50px;
}

.header-image img {
  width: 200px;
  height: 35px;
}

.header-image {
  margin-top: 20px;
  margin-left: 100px;
}

/* utility classes */

.v-centre {
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

.hidden {
	display: none;
	visibility: hidden;
}

.visible {
	visibility: visible;
}

.column-container-container:last-child > .column-container {
	/* padding-bottom: 30vw; */
}

/* vertical iPad / horizontal iPhone */
@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
  }
	.column-container-container {
		display: block;
    padding-right: 0px !important;
    /* margin: 0px !important; */
	}
	.container:last-child {
		padding-bottom: 44vw;
	}
	.column-container {
    padding-bottom: 0px;
    padding-top: 0px;
    max-width: 100%;
	}
	.column-container-container:last-child > .column-container {
		padding-bottom: 0px;
	}
}

/* vertical iPhone */
@media screen and (max-width: 500px) {
	.column-container {
		display: block;
		padding-bottom: 0px;
		width: 100%;
	}

	.hidden.column-container {
		display: none;
	}

	.column-container > p:last-child {
		margin-bottom: 0px;
	}

	.column-container:last-child {
		/* padding-bottom: 20px; */
	}

	.column-container-container:last-child {
		/* padding-bottom: 44vw; */
	}
}
