* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html, body {
	height: 100%;
  scroll-behavior: smooth;
}

body, #page {
	margin: 0;
	width: 100%;
	height: 100%;

	font-family: 'Univers LT 55', Helvetica, Arial, sans-serif;
	font-size: 18px;
	line-height: 22px;

	/*white-space:nowrap;*/
	-webkit-font-smoothing: subpixel-antialiased;
	-webkit-text-size-adjust: 100%;
}

p {
	margin-top: 0px;
}

img {
	width: 100%;
}

a:link,
a:visited {
    color: #ff0000;
    text-decoration: none;
}

a:active {
	color:#FFF;
}

b {
  background-color: #ff0;
  font-weight: normal;
}

	header {
	position: relative;
	padding: 20px;
}

header.homepage {
	z-index: 10;
}

ul {
	list-style-type: none;
	padding-left: 20px;
	margin: 0px;
}

ul:first-child {
	padding-left: 0px;
}

.container {
  display: flex;
  flex-direction: row;
  padding-top: 50px;
}

.column-container-container {
	width: 100%;
  padding-bottom: 2em;
}

.column-container-container img {
	height: auto;
}

.column-container {
  max-width: 50%;
	position: relative;
	display: inline-block;
	vertical-align: top;
	/* width: 33vw; */
	white-space: initial;
	padding: 20px;
}

.meta {
  display: flex;
  flex-direction: row;

  font-size: 12px;
  line-height: 14px;
  /* font-style: italic; */
  font-family: 'Univers CE 45', Helvetica, Arial, sans-serif;

  margin-top: 6px;
  margin-bottom: 4px;
}

.meta div {
  padding-right: 50px;
}

.name {
  text-decoration: underline;
  padding-bottom: 1em;
}

input {
  font-family: 'Univers LT 55', Helvetica, Arial, sans-serif;
	font-size: 18px;
	line-height: 22px;
}

.mc-field-group label {
	display: none;
}

#lozenge {
  position: fixed;
  left: 100px;
  top: 20px;
  width: 175px;
  height: 40px;
  z-index: 1000;

  background-color: #00f;
  color: #fff;

  text-align: center;
  line-height: 40px;
}

.lang-toggle {
  position: fixed;
  bottom: 15px;
  left: 15px;
  z-index: 1000;

}
.lang-toggle a {
  color: #000;
}

.lang-toggle .active {
  color: #fff;
  background-color: #00f;
}

/* utility classes */
.anchor {
  display: block;
  position: relative;
  top: -70px;
  visibility: hidden;
}

.v-centre {
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

.hidden {
	display: none;
	visibility: hidden;
}

.visible {
	visibility: visible;
}

.column-container-container:last-child > .column-container {
	/* padding-bottom: 30vw; */
}

.video-wrapper {
    position: relative;
    /* padding-bottom: 56.25%; /* 16:9 */
    /* padding-top: 25px; */
    width: 100%;
    height: 0;
}

.no-wrap {
  white-space: nowrap;
}

/* vertical iPad / horizontal iPhone */
@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
  }
	.column-container-container {
		display: block;
    padding-right: 0px !important;
    /* margin: 0px !important; */
	}
	.container:last-child {
		padding-bottom: 44vw;
	}
	.column-container {
    padding-bottom: 0px;
    padding-top: 0px;
    max-width: 100%;
	}
	.column-container-container:last-child > .column-container {
		padding-bottom: 0px;
	}
}

/* vertical ipad and smaller */
@media screen and (max-width: 768px) {
	.column-container {
		display: block;
		padding-bottom: 0px;
		width: 100%;
	}

	.hidden.column-container {
		display: none;
	}

	.column-container > p:last-child {
		margin-bottom: 0px;
	}

	.column-container:last-child {
		/* padding-bottom: 20px; */
	}

	.column-container-container:last-child {
		/* padding-bottom: 44vw; */
	}
}
