* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html, body {
	height: 100%;
    scroll-behavior: smooth;
    background: #CCC;
}

body, #page {
	margin: 0;
	width: 100%;
	height: 100%;

	font-family: 'Univers LT 55', Helvetica, Arial, sans-serif;
    /*
	font-size: 18px;
	line-height: 22px;
    */
    font-size: 27px;
    line-height: 33px;

	/*white-space:nowrap;*/
	-webkit-font-smoothing: subpixel-antialiased;
	-webkit-text-size-adjust: 100%;
}

p {
	margin-top: 0px;
}

img {
	width: 100%;
}

a:link,
a:visited {
    color: #ff0000;
    text-decoration: none;
}

a:active {
	color:#FFF;
}

b {
  background-color: #ff0;
  font-weight: normal;
}

header {
	position: relative;
	padding: 20px;
}

header.homepage {
	z-index: 10;
}

ul{
	list-style-type: none;
	padding-left: 20px;
	margin: 0px;
}
ol {
  /*padding-left: 20px;*/
  margin: 0px;
}

ul:first-child{
	padding-left: 0px;
}

button,
input[type = 'submit']
{
    display: inline-block;
    border: none;
    /*border-radius: 8px;*/
    padding: 10px 20px;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    background-color: #999; 
    /* -webkit-transition-duration: 0.2s; */ /* Safari */
    transition-duration: 0.2s;
    cursor: pointer;
}

.hover button:hover,
.hover input[type = 'submit']:hover
{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

button:active {
    background-color: #666;
    box-shadow: 0 5px 8px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    transform: translateY(2px);
    transform: translateX(-2px);
}


#menu_btn {
    position: fixed;
    top: 0px;
    right: 0px;
    display: inline-block;
    margin: 10px;
    z-index: 1000;
    width: 50px;
    cursor: pointer;
}
#menu_btn button,
#menu_btn svg{
  width: 100%;
  padding: 0;
}
.displaying_menu #menu_btn button{
  background-color: transparent;
}
.displaying_menu #menu_btn .st0 {
  stroke: #fff !important;
}
.displaying_menu #menu{
  display: block;
}


.container {
  display: flex;
  flex-direction: row;
  padding-top: 100px;
}
.home .container{
  padding-left: 20px;
  padding-right: 20px;
  /*text-align: center;*/
  flex-wrap: wrap;
  justify-content: center;

}
.submit-container,
.about-container,
.success-container,
.error-container
{
  padding-top: 140px;
  width: 1000px;
  margin: 0 auto;
  font-size: 16px;
  line-height: 1.35em;
  font-family: 'Univers CE 45', Helvetica, Arial, sans-serif;
}
.column-container-container {
	width: 100%;
  padding-bottom: 2em;
}

.column-container-container img {
	height: auto;
}

.column-container {
  max-width: 50%;
	position: relative;
	display: inline-block;
	vertical-align: top;
	/* width: 33vw; */
	white-space: initial;
	padding: 20px;
  padding-top: 0;
}

.audio-container {
  	/*padding-top: 4em;*/
}

.meta, .catalogue_meta {
  display: flex;
  flex-direction: row;

  font-size: 12px;
  line-height: 14px;
  /* font-style: italic; */
  font-family: 'Univers CE 45', Helvetica, Arial, sans-serif;

  margin-top: 6px;
  margin-bottom: 4px;
}

.meta div {
  padding-right: 50px;
}

.name {
  text-decoration: underline;
  padding-bottom: 1em;
}

#lozenge-small {
  position: fixed;
  left: 100px;
  top: 20px;
  width: 175px;
  height: 40px;
  z-index: 1000;
  font-family: Helvetica, Arial, sans-serif;    
  background-color: #00f;
  color: #fff;
  text-align: center;
  line-height: 40px;
}

#lozenge {
    /*position: fixed;
    left: 50%;
    top: 40px; 
    transform: translate(-50%, 0);
    width: 262px;
    height: 60px;*/
    display: block;
    font-family: Helvetica, Arial, sans-serif;    
    background-color: #00f;
    color: #fff;
    text-align: center;
    line-height: 60px;
    /*z-index: 1000;*/
}

.lang-toggle {
  position: fixed;
  bottom: 15px;
  left: 15px;
  z-index: 1000;

}
.lang-toggle a {
  color: #000;
}

.lang-toggle .active {
  color: #fff;
  background-color: #00f;
}

/* utility classes */
.anchor {
  display: block;
  position: relative;
  top: -70px;
  visibility: hidden;
}

.v-centre {
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

.hidden {
	display: none;
	visibility: hidden;
}

.visible {
	visibility: visible;
}

.column-container-container:last-child > .column-container {
	/* padding-bottom: 30vw; */
}

.video-wrapper {
    position: relative;
    /* padding-bottom: 56.25%; /* 16:9 */
    /* padding-top: 25px; */
    width: 100%;
    height: 0;
}

.no-wrap {
  white-space: nowrap;
}

.home .child{
  width: 600px;
  display: inline-block;
  text-align: left;
}
/* news */
.child.column-container-container.news {
  color: #00f;
  height: 350px;
}

.child.column-container-container.news .meta {
  color: #000;
}

#news-content {
  /* height: 100px; */
}

#news-content a {
  color: #00f !important;
}

.video {    
    transition-duration: 0.2s;
}

/* collaborators */
.child.column-container-container.collaborators,
.child.column-container-container.colaboradores {
  padding-right: 0px !important;
}


/* mailchimp */
#mc_embed_signup input {
  font-family: 'Univers LT 55', Helvetica, Arial, sans-serif;
	font-size: 18px;
	line-height: 22px;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  border-radius: 0px;
  border: none;

  padding: 0px;
  margin: 0px;

  background-color: #fff;
}

#mc_embed_signup input.button {
  color: #f00;
  cursor: pointer;
}

#mc_embed_signup input.email {
  padding: 5px;
  border: 2px solid #000;
  margin-top: 5px;
  margin-bottom: 5px;
}

.mc-field-group label {
	display: none;
}
body.detail{
  background: #000;
}
.detail-container{
  background: #000;
}
.detail-container video{
  width: 100%;
}
.detail-container .meta{
  position: fixed;
  top: 0;
  left: 0;
  color: #fff;
  padding: 20px;
  width: calc( (100% - 260px)/2 ); /* logo width ~= 260px */
  max-width: 100%;
  line-height: 1.5em;
  margin: 0;
}
/* 3/26 */

/* switch the <a> and <div> cause if the parent is <a>, 
clicking on play/pasue will trigger it as well. */
#logo_ctner{
    position: fixed;
    left: 50%;
    top: 40px; 
    transform: translate(-50%, 0);
    width: 262px;
    height: 60px;
    background-color: #00f;
    color: #fff;
    z-index: 1000;
    text-align: center;
    /*box-shadow: 0 6px 8px 0 rgba(0,0,0,0.5), 0 6px 15px 0 rgba(0,0,0,0.4);*/
}
  
#logo_ctner > *{
  display: inline-block;
  vertical-align: middle;
  position:relative;
}
#logo_cc{
  width: 18px;
  position: absolute;
  top: -5px;
  right: -24px;
}
#logo_cc img{
  width: 100%;
}
#logo_ctner button{
  background-color: #00f;
  width: 55px;
  font-size:16px;
  height: 100%;
}
#logo_play.hovered{
  animation: play-hover .475s infinite alternate;
}
#logo_play svg,
#logo_pause svg
{
  width: 100%;
}
.play_svg{
  fill: #fff;
}
.pause_svg {
  fill: #fff;
}
.hover #logo_ctner button:hover{
  box-shadow: none;
  cursor: default;
}
.hover #logo_ctner button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.5), 0 17px 50px 0 rgba(0,0,0,0.4);
    z-index: 1001;
    cursor: pointer;
}
#logo_ctner button:active {
    background-color: #00b;
    box-shadow: 0 5px 8px 0 rgba(0,0,0,0.5), 0 17px 50px 0 rgba(0,0,0,0.4);
    transform: translateY(2px);
    transform: translateX(-2px);
}
button:focus{
  outline:0;
}
#progress_ctner{
  width: 262px;
  top:102px;
  position: fixed;
  left: 50%;
  transform: translate(-50%, 0);
  display:block;
  /*background-color: #000;*/
}
#progress{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display:block;
  width:100%;
  height:6px;
  border:none;
  color: #fff; /* ie */
  opacity: 1;
  background-color:transparent;
  box-shadow: 0 -12px -16px 0 rgba(0,0,0,0.5), 0 -17px -50px 0 rgba(0,0,0,0.4);
  
  /*vertical-align: top;*/
}
#progress_bar {
  width:0%;
  height:100%;
  display:inline-block;
  background-color:#f00;
  background-color:#00f;  
}
/* firefox progress BAR COLOR */
#progress::-moz-progress-bar {
  background-color:#f00;
  background-color:#00f;
}
/* webkit progress background color */
#progress::-webkit-progress-bar {
  background-color:transparent;
}
/* webkit progress bar color */
#progress::-webkit-progress-value {
  background-color:#f00;
  background-color:#00f;
}

#nav{
  position: fixed;
  top:0;
  left:0;
  
  width: 100vw;
  max-width: 100%;
  z-index:2000;
  font-size: 12px;
  line-height: 1.5em;
  font-family: 'Univers CE 45', Helvetica, Arial, sans-serif;
  box-sizing: border-box;
}
#menu{
  padding: 12px;
  
  background-color: rgba(100, 100, 100, 0.75);
  color: #fff;
  display: none;
}
#catalogue-container > div{
  display: inline-block;
  vertical-align: top;
}
#catalogue-container > div:first-child{
  width: 125px;
}

.nav_btn{
  cursor:pointer;
}
.nav_btn:link, .nav_btn:visited{
  color: #FFF;
}
.nav_btn.active{
  color: #000;
}
.hover .nav_btn:hover{
  color: #000;
}


#catalogue_control{
  padding: 12px;
  position: fixed;
  top: 0;
  left: 0;
  font-size: 12px;
  font-family: 'Univers CE 45', Helvetica, Arial, sans-serif;
  line-height: 1.5em;
  z-index: 1000;
}
#filter{
  margin-top: 15.5px;
}
#filter > div{
  display: inline-block;
  vertical-align: top;
}
#filter > div:first-child{
  width: 125px;
}
.radio_container{
  position: relative;
  display: block;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding-left: 18px;
  margin-bottom: 3px;
  cursor:pointer;
}
.radio_container > input{
  position: absolute;
  opacity: 0;
  height: 0;
  width: 0;
}
.radio_container > .checkmark {
  position: absolute;
  top: 1px;
  left: 0;
  height: 11px;
  width: 11px;
  background-color: #fff;

}
.radio_container > input:checked ~ .checkmark {
  background-color: #00f;
}
.hover .radio_container:hover .checkmark{
  background-color: #eee;
}
/* ================================
      catalogue > vertical ist
 ================================== */
#catalogue_container{
  flex-direction: column;
  margin-top: 120px;
}
#catalogue_container > .child,
#item_list{
  display: flex;
  padding: 20px;
}

#catalogue_container .media_container{
  width: 120px;
  height: 120px;
}

#item_list{
  padding-bottom: 0;
}
#catalogue_container #item_list .media_container{
  height: initial;
}
.catalogue_meta > div{
  margin-bottom: 10px;
  padding-right: 5px;
}
.catalogue_meta .active{
  color: #FFF;
}

.spreadsheet_meta{
  display: grid;
  grid-template-columns: 1fr 2fr 2fr 1fr 1.5fr 1fr 1fr 1fr 1fr 1fr 1fr;
  margin-left: 20px;
  max-width: none;
  width: 100%;
}
.list_meta{
  display: block;
  width: 300px;
  margin-left: 40px;
}


#catalogue_container[view='spreadsheet'] .list_meta{
  display: none;
}
#catalogue_container[view='list'] .spreadsheet_meta,
#catalogue_container[view='list'] #item_list{
  display: none;
}
#catalogue_container[view='list'] .media_container{
  width: 180px;
  height: 180px;
}
#catalogue_container[view='list'] .catalogue_meta{
  /*display: block;*/
  /*margin-left: 20px;*/
  /*width: 300px;*/
}
#current_catalogue{
  position: relative;
}
.order_reverse{
  display: none;
}
.viewing_reverse span{
  display: none;
}
.viewing_reverse .order_reverse{
  display: initial;
}

#order_toggle{
  display: inline;
  width: 22px;
  font-size: 20px;
  font-weight: bold;
  font-family: sans-serif;
  letter-spacing: -10px;
  top: -1px;
  position: absolute;
  padding: 0 1px;
  cursor:pointer;
}
.hover #order_toggle:hover{
  color: #00f;
}

.download,
.download:visited,
.download:link{
  display: inline-block;
  text-align: center;
  padding: 8px 12px;
  transition: all .2s;
  background-color: #00F;
  color: #fff;
  /*background-color: #ffF;*/
  /*color: #00f;*/
}
.hover .download:hover{
  box-shadow: 0 5px 8px 0 rgba(0,0,0,0.35), 0 6px 8px 0 rgba(0,0,0,0.25);
  transition: all .2s;
}
.download:active{
  background-color: #00b;
  box-shadow: 0 3px 5px 0 rgba(0,0,0,0.35), 0 4px 8px 0 rgba(0,0,0,0.25);
  transform: translateY(2px);
  transform: translateX(-2px);
}
/* ================================
                submit
 ================================== */
.submit-container{
  color: #00F;
}
#submit_form{
  display: flex;
  padding-bottom: 40px;
}
.submit-col{
  width: calc( (100% - 40px) / 2);
  padding: 0 40px;
  box-sizing: border-box;
}
.submit-col.right{
  margin-left: 40px;
}
.text-center{
  text-align: center;
}
.list-item{
  display: flex;
}
.item-order{
  margin-right: 40px;
}
.submit-container input[type = 'text'], 
.submit-container textarea{
  width: 100%;
  padding: 5px;
  height: 40px;
}
.submit-container div + input{
  margin-top: 12px;
}
.submit-container ol{
  padding-left: 17px;
}
.submit-container input[type = 'submit']{
  font-size: 16px;
  color: #fff;
  font-family: 'Univers CE 45', Helvetica, Arial, sans-serif;
  display: block;
  width: 100px;
  margin: 0 auto;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: #00f;
}
#upload-container{
  border: 1px solid #00F;
  height: 200px;
  position: relative;
}
#upload-audio
{
  /*width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;*/
  cursor: pointer;
  display: inline-block;
  margin: 0 auto;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(calc(-50% + 45px), -50%);
  font-size: 16px;
  font-weight: bold;
}
#upload-audio:focus{
  outline: none;
}
#upload-audio + label
{
  display: none;
  

}

.detail #logo_play{
  /*animation: play-hover .35s 6 alternate;*/
  /* 6 = 3*2 */
}
.detail #logo_play svg{
  /*animation: play-svg-scaling .35s 10 alternate*/
}
#detail_download{
  position: fixed;
  bottom: 40px;
  right: 20px;
  font-size: 12px;
  line-height: 14px;
  font-family: 'Univers CE 45', Helvetica, Arial, sans-serif;

}
#detail_download > .download{
  padding-top: 10px;
}
/**/

@keyframes play-bouncing{
  0%
  {
    transform: translate(0, 0);
  }

  100%
  {
    transform: translate(0, 30px);
  }
}

@keyframes play-hover{
  0%
  {
    box-shadow: none;
    z-index: 1001;
  }

  100%
  {
    box-shadow: 0 36px 50px 0 rgba(0,0,0,0.75), 0 36px 100px 0 rgba(0,0,0,0.6);
    z-index: 1001;
  }
}

@keyframes play-svg-scaling{
  0%
  {
    transform: scale(1);
  }

  100%
  {
    transform: scale(1.25);
  }
}

@keyframes play-glowing{
  0%
  {
    background-color:#00F;
  }

  100%
  {
    background-color:#88F;
  }
}





/* vertical iPad / horizontal iPhone */
@media screen and (max-width: 500px) {
  body, #page {
    font-size: 20px;
    /*line-height: 33px;*/
  }
  #nav{
    line-height: 24px;
    font-size: 14px;
  }
  button,
  input[type = 'submit']
  {
    padding: 8px 18px;
  }
  #catalogues{
    padding-left: 20px;
  }
  .home .child{
    width: 100%;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  #logo_ctner{
    top: 12px; 
    width: 210px;
    height: 50px;
  }
  #logo_ctner button{
    width: 50px;
    padding-top: 12px;
  }
  #lozenge {
    line-height: inherit;
  }
  #menu_btn {
    margin: 0px;
    width: 40px;
  }
  .meta div {
    padding-right: 20px;
  }
  .meta .size {
    padding-right: 0;
  }
  .about .container{
    font-size: 16px;
    line-height: 1.35em;
  }
  .item-order{
    margin-right: 25px;
  }
  .container {
    flex-direction: column;
  }
	.column-container-container {
		display: block;
    padding-right: 0px !important;
    /* margin: 0px !important; */
	}
	.container:last-child {
		padding-bottom: 44vw;
	}
	.column-container {
    padding-bottom: 0px;
    padding-top: 0px;
    max-width: 100%;
    display: block;
    width: 100%;
	}
  .column-container.right{
    margin-top: 18px;
  }
	.column-container-container:last-child > .column-container {
		padding-bottom: 0px;
	}

	.hidden.column-container {
		display: none;
	}

	.column-container > p:last-child {
		margin-bottom: 0px;
	}
  #submit_form{
    display: block;
    width: auto;
    margin: 0;
  }
  #catalogue_control{
    margin-top: 75px;
    width: 100%;
  }
  .radio_container{
    display: inline-block;
  }
  .radio_container:last-child{
    margin-left: 10px;
  }
  #filter{
    display: none;
    /*margin-top: 0px;*/
  }
  /*#filter > div{
    display: block;
  }*/
  .list_meta{
    margin-left: 0;
    width: initial;
  }
  #catalogue_container[view='list'] .media_container{
    height: initial;
  }
  #catalogue_container{
    padding-top: 0px;
  }
  #catalogue_container > .child{
    display: block;
  }
  #item_list{
    display: none;
  }
  #catalogue_container > .child .video{
    width: 50%;
  }
  .spreadsheet_meta{
    display: block;
    margin: 0;
    margin-top: 6px;
  }
  .spreadsheet_meta > div > span{
    display: inline-block;
    vertical-align: top;
    width: 70%;
    padding-left: 20px;
  }
  .spreadsheet_meta > div > .meta_tag{
    width: 30%;
    padding: 0;
  }
  #progress_ctner{
    width: 210px;
    top: 65px;
  }
  .detail-container{
    overflow-x: hidden;
  }
  .detail-container video{
    width: initial;
    height: 100%;
    float: right;
  }
  .detail-container .meta{
    top: 75px;
    width: 100vw;
    max-width: 100%;
  }
  #logo_cc{
    width: 16px;
    right: -20px;
  }
  @keyframes play-hover{
    0%
    {
      box-shadow: none;
      z-index: 1001;
    }

    100%
    {
      box-shadow: 0 10px 15px 0 rgba(0,0,0,0.6), 0 10px 20px 0 rgba(0,0,0,0.3);
      z-index: 1001;
    }
  }
}